@font-face {
    font-family: 'NotoSerif-Italic';
    src: url('../fonts/NotoSerif-Italic.ttf');
    font-family: 'Museo500';
    src: url('../fonts/Museo Sans Cyrl 500.ttf');
    font-family: 'Museo700';
    src: url('../fonts/Museo Sans Cyrl 700.ttf');
    font-family: 'Museo900';
    src: url('../fonts/Museo Sans Cyrl 900.ttf'); 
}
.banner{
	
	background-color:#0066a1;
	color:#fff;
	text-align: center;
	font-weight: bold;
	padding-bottom: 18px;
	padding-top: 18px;
}
.banner__svg{
	fill:#fff;
	width: 2%;
	float:right;
	margin-right: 300px;
}
