body{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: left;
	flex-wrap: wrap;
}
.main{
	width: 300px;
	height: 400px;
	margin-left: 50px;
	margin-bottom: 100px;
}
.image1{
	width:300px;
	height:200px;
	background:url(img/1.jpg);
}
.image2{
	width:300px;
	height:200px;
	background:url(img2.jpg);
}
.image3{
	width:300px;
	height:200px;
	background:url(img/3.jpg);
}
.title1{
	font-style: bolder;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.title2{
	font-style: bold;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px dotted #CECECE;
}
:hover.title2{
	color: #313AF4;
	transition: .3s;
}	
.button{
	background-size: contain;
	padding: 10px 0px 10px 0px ;
}
:hover.button{
	opacity: 0.8;
	transition: .3s;
}
.content{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}